# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env files
.env
*.env.local
.env.test
.env.development
.env.production

# Logs
logs
*.log
debug.log
error.log

# OS files
.DS_Store

# Reports & tools
gitleaks-before.json
gitleaks-after.json
Day-1/tools/

day2/reports

# day3/.gitignore
__pycache__/
*.pyc
venv/
.env
reports/

